$color0: #f8f7f6;
$color1: #575E65;
$color2: #A8544A;
$color3: #A59062;
$color4: #5B7985;
$color5: #2F989B;
$color6: #6D8F95;
$color7: #201D1F;
$color8: #7f7c78;
$color9: #575E65;
$color10: #A8544A;
$color11: #A59062;
$color12: #5B7985;
$color13: #2F989B;
$color14: #6D8F95;
$color15: #201D1F;

$background: $color0;
$foreground: $color15;

$border-color: $foreground;
