extends layouts/app
block content
  article(class="main")
    figure(class="profile-picture")
      img(src="http://www.gravatar.com/avatar/5cdcf7d012eaab8b6eb66d7abd8dab60?s=400", alt="Lucas F. Souza")

    header(class="description")
      h1 Lucas F. Souza
      h2 Software Developer

    section(class="contact")
      h3 Contact me at 
        a(class="email", href="mailto:me@lucasfsouza.com.br") me@lucasfsouza.com.br

    section(class="social")
      h3 Find me on

      ul
        li(class="blog")
          a(class="fa fa-rss", href="/blog") tech blog

        li(class="github")
          a(class="fa fa-github", href="http://github.com/lucasfs7") github

        li(class="linkedin")
          a(class="fa fa-linkedin", href="http://br.linkedin.com/in/lucasfs7") linkedin

        li(class="medium")
          a(class="fa fa-align-justify", href="http://medium.com/@lucasfs7") medium

        li(class="twitter")
          a(class="fa fa-twitter", href="http://twitter.com/lucasfs7") twitter

        li(class="google-plus")
          a(class="fa fa-google-plus", href="https://plus.google.com/113387604686768353551/posts") google+
