doctype html
html(lang="en")
  head
    title Lucas F. Souza - lucasfs7
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
    link(rel="stylesheet", href="css/style.css")
    link(rel="shortcut icon", href="/favicon.ico?v=2", type="image/ico")
    link(rel="icon" href="/favicon.ico?v=2" type="image/x-icon")

    meta(property="og:title" content="Lucas F. Souza")
    meta(property="og:type" content="website")
    meta(property="og:url" content="http://lucasfsouza.com.br")
    meta(property="og:image" content="https://pbs.twimg.com/profile_images/3589194322/aed23f0bf404d430aefd1c30bafde31f.jpeg")
    meta(property="og:site_name" content="Interface Engineer at Palpiteros")
    meta(property="og:description" content="coffee, beer, bacon, comic books, javascript, css3, html5 and more")
    meta(property="og:locale" content="pt_BR")

    script(type='text/javascript').
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24773281-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body
    block content

